{% extends "valiance/layout.html" %}

{% block robots %}noindex, follow{% endblock robots %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='valiance/css/coming_soon.css') }}">
{% endblock css_js %}


{% block title %}Registrasi Ditutup{% endblock title %}

{% block main %}
	<section class="coming-soon">
		<div class="logo-cs"></div>
		<div class="content">
			<h1 class="text-shadow" style="max-width: 95vw; text-wrap: wrap; text-align: center;">Form Pendaftaran Telah Ditutup</h1>
			<p class="mt-2" style="text-align: center; width: 80vw; text-wrap: wrap; font-size: 1.5rem;">Jika terdapat kendala atau pertanyaan, silakan hubungi melalui ID Line berikut: <span style="background-color: rgb(222, 97, 48); padding: 0 5px;">kevinwilbertjohan</span></p>
		</div>
	</section>
	
	
{% endblock main %}
